body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* variables */
@font-face {
  font-family: 'Robota-NonCommerical';
  src: url(/docs/Robota.woff) format("woff");
}

html {
  background: radial-gradient(circle, #e6e6e6 0%, #b6b6b6 100%);
}

body {
  overflow-y: scroll;
  font-family: "Mukta", sans-serif;
}

nav ul {
  height: 100px;
  margin: 0;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

nav ul li {
  height: 100px;
  list-style-type: none;
}

nav ul li a {
  padding-bottom: 35px;
  padding-top: 35px;
  height: 100px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #303030;
}

nav ul li a:hover {
  height: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: Black;
  box-shadow: none;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

nav ul li a.active {
  height: 110%;
  color: Black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

iframe {
  border: none;
  /* width */
}

.landingpagegif {
  max-width: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.logowoosh {
  height: 40px;
  width: auto;
  position: center;
}

.homepage {
  background: url(https://raw.githubusercontent.com/Zavvitar/TENET/master/img/logo/logo.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.homepage:hover {
  -webkit-transform: none;
          transform: none;
}

.usedfont {
  font-family: "Robota-NonCommercial", "san-serif";
}

.memberspadding {
  max-height: 450px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 20%;
}

.memberspaddingshadow {
  display: -ms-grid;
  display: grid;
  font-family: "Robota-NonCommercial", "san-serif";
  max-height: 100px;
  color: black;
  font-size: 30px;
}

.contain {
  height: 100%;
  max-width: 1400px;
}

.containfooter {
  max-height: 70px;
  max-width: 1280px;
  margin: auto;
}

.head {
  height: 100px;
  margin: 0 auto;
  width: 100%;
  background-color: #cbcbcb;
  z-index: 20;
  -webkit-box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 6px 11px -1px rgba(0, 0, 0, 0.53);
}

.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 350px;
  background: radial-gradient(circle, white 0%, #878787 8%, #4f4f4f 13%, #2b2b2b 17%, #070707 22%, rgba(7, 7, 7, 0) 23%);
  background-size: cover;
}

.logo {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/logo/Comp2.gif) no-repeat;
  background-position: center;
  background-size: contain;
}

.linebreak {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 70px;
}

.linebreakimage {
  background: url(/img/Raid/line.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.titletitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100px;
}

.titletitletitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.titletitleimage {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/logo/writing.png) no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 2px;
}

.player {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.boxthings12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.boxthings11 {
  padding-top: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
}

.boxthings10 {
  -webkit-box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
          box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  background-color: #dadada;
}

.boxthings {
  -webkit-box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
          box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
}

.boxthings > div {
  text-align: center;
}

.boxthings > div:nth-child(1) {
  background-color: #dadada;
}

.boxthings > div:nth-child(2) {
  background-color: #dadada;
  color: white;
}

.boxthings8 {
  -webkit-box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
          box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
  height: 500px;
  max-height: 500px;
  vertical-align: middle;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.boxthings9 {
  max-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  color: black;
}

.boxthings90 {
  display: none;
  max-height: 500px;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  color: black;
}

.boxthings7 {
  padding-bottom: 3%;
  background-color: #dadada;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.boxthings6 {
  background-color: #dadada;
  -webkit-box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
          box-shadow: 12px 0px 5px -4px rgba(0, 0, 0, 0.164), -12px 0 5px -4px rgba(0, 0, 0, 0.164);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  max-width: 1280px;
  max-height: auto;
  width: 100%;
  height: 100%;
}

.boxthings5 {
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.boxthings5 > div {
  text-align: center;
}

.boxthings5 > div:nth-child(1) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/metas/dsc.jpg) no-repeat;
  background-size: 100%;
  height: 850px;
}

.boxthings5 > div:nth-child(2) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/metas/gos.jpg) no-repeat;
  background-size: 100%;
  height: 850px;
}

.boxthings5 > div:nth-child(3) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/metas/dsc.jpg) no-repeat;
  background-size: 100%;
  height: 850px;
}

.boxthings4 {
  padding-top: 1%;
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.boxthings2 {
  padding-top: 20px;
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  text-align: bottom;
  color: white;
}

.boxthings2:hover > img {
  opacity: 0.7;
  -webkit-transition: -webkit-filter 0.4s ease-in-out;
  transition: -webkit-filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%) blur(2px);
  /* FF 35+ */
}

.boxthings2:hover > img:hover {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  /* FF 35+ */
}

.boxthings2:hover > div {
  opacity: 0.7;
  -webkit-filter: grayscale(100%) blur(2px);
          filter: grayscale(100%) blur(2px);
  /* FF 35+ */
}

.boxthings2:hover > div:hover {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.boxthings2 > div {
  text-align: center;
}

.boxthings2 > div:nth-child(1) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/Raid/1.jpg) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings2 > div:nth-child(2) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/Raid/2.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings2 > div:nth-child(3) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/3.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings2 > div:hover {
  height: 280px;
  z-index: 1000;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.boxthings3 {
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  text-align: bottom;
  color: white;
}

.boxthings3:hover > img {
  opacity: 0.7;
  -webkit-transition: -webkit-filter 0.4s ease-in-out;
  transition: -webkit-filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%) blur(2px);
  /* FF 35+ */
}

.boxthings3:hover > img:hover {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  /* FF 35+ */
}

.boxthings3:hover > div {
  opacity: 0.7;
  -webkit-filter: grayscale(100%) blur(2px);
          filter: grayscale(100%) blur(2px);
  /* FF 35+ */
}

.boxthings3:hover > div:hover {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.boxthings3 > div {
  text-align: center;
}

.boxthings3 > div:nth-child(1) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/Raid/1.jpg) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(2) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/Raid/2.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(3) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/3.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(4) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/4.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(5) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/5.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(6) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/6.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(7) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/7.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(8) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/8.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:nth-child(9) {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/9.png) no-repeat;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-right: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

.boxthings3 > div:hover {
  height: 280px;
  z-index: 1000;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.toseemore {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.thanos {
  color: white;
  margin: 0 auto;
  padding-top: 2%;
}

.foot {
  height: 100px;
  background-color: black;
  margin: auto;
  position: relative;
}

.foot nav {
  max-width: 1280px;
}

.foot a {
  font-size: small;
  text-align: right;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: grey;
  background-color: black;
  background-image: none;
}

.foot a:hover {
  background-color: black;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
          transform: none;
  color: grey;
}

#image1 {
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

#image2 {
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

#image3 {
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
          box-shadow: 0px 1px 5px -2px rgba(15, 0, 0, 0.979);
}

#image1:hover {
  -webkit-box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
          box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
  color: grey;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#image2:hover {
  -webkit-box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
          box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
  color: grey;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#image3:hover {
  -webkit-box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
          box-shadow: 0px 1px 5px rgba(31, 30, 30, 0.966);
  color: grey;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.dave {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/discord_logo.png) no-repeat;
  height: 142px;
  background-position: top;
  background-size: contain;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.homelander {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/logo/about.png) no-repeat;
  height: 142px;
  background-position: top;
  background-size: contain;
  border-left: none;
  border-right: none;
}

.card-headerinv2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c025c00), color-stop(74%, #4e038b77));
  background-image: linear-gradient(180deg, #2c025c00 0%, #4e038b77 74%);
  padding-left: 2%;
  padding-right: 2%;
  font-size: 30px;
}

.card-header {
  text-align: center;
  color: #303030;
  padding-top: 45%;
  padding-bottom: 50%;
  font-size: 70px;
  font-family: "Robota-NonCommercial";
}

.card-header2 {
  padding-right: 15%;
  text-align: center;
  color: #303030;
  padding-top: 55%;
  padding-bottom: 30%;
  font-size: 70px;
  font-family: "Robota-NonCommercial";
}

.card-header3 {
  -webkit-box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
          box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
  max-height: 100px;
  padding-top: 1%;
  text-align: center;
  color: #303030;
  font-size: 70px;
  font-family: "Robota-NonCommercial";
}

.minititle {
  text-decoration: underline;
  color: #303030;
}

.card-header8 {
  max-height: 100px;
  padding-top: 1%;
  text-align: center;
  color: #303030;
  font-size: 70px;
  font-family: "Robota-NonCommercial";
}

.card-header4 {
  -webkit-box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
          box-shadow: inset 0 11px 11px -7px rgba(0, 0, 0, 0.55);
  max-height: 100px;
  padding-top: 3%;
  text-align: center;
  color: #303030;
  padding-bottom: 8%;
  font-size: 70px;
  font-family: "Robota-NonCommercial";
}

.photostext {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
}

.open {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  position: relative;
  border-bottom: 2px solid #30303057;
  visibility: visible;
}

.open:focus-visible {
  z-index: 10000;
}

.landingwords {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

#modal3 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal3:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal4 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal4:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal5 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal5:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal6 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal6:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal7 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal7:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal8 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal8:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal9 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal9:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal10 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal10:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal11 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal11:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal12 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal12:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal13 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal13:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal14 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal14:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal15 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal15:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.modal__window {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  position: relative;
  padding: 4em 2em;
  margin: auto;
}

.modal__close {
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  position: absolute;
}

#modal:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

#modal2 {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border-bottom: 2px solid #30303057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

#modal2:not(:target) {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
}

.card-headerinv {
  font-family: "Robota-NonCommercial", "san-serif";
  text-align: center;
  color: #303030;
  border-bottom: solid 3px #303030;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  font-size: 30px;
}

.card-header-links {
  text-align: center;
  color: #303030;
  background-color: #dadada;
  font-size: 30px;
}

.card-text {
  text-align: center;
  color: #303030;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-right: 10%;
}

.card-text2 {
  text-align: center;
  color: #303030;
  padding-top: 15%;
}

.formboxthing {
  padding-top: 5%;
}

.phototitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 90px;
}

.phototitleimage {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/logo/clanphotos.png) no-repeat;
  background-position: center;
  background-size: contain;
  height: 110px;
}

.phototitleimage2 {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/logo/BungieLinks.png) no-repeat;
  background-position: center;
  background-size: contain;
  height: 120px;
}

.phototitleimage3 {
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master/img/logo/Map.png) no-repeat;
  background-position: center;
  background-size: contain;
  height: 120px;
}

.main-paralax {
  /* Fill the available space */
  height: 100vh;
  /* Make the children of the element closer to the viewport */
  -webkit-perspective: 2px;
          perspective: 2px;
  /* Hide the overflow */
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-paralax::-webkit-scrollbar {
  display: none;
}

/* General styling  */
.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Different background colors for demo purpose */
.static-one {
  background: radial-gradient(circle, white 0%, #c7c7c7 100%);
  -webkit-box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.72);
  box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.72);
  padding-right: 1%;
  padding-top: 1%;
  padding-left: 1%;
}

.static-one > div {
  padding-bottom: 10%;
  text-align: center;
}

.static-two {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background: radial-gradient(circle, white 0%, #c7c7c7 100%);
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.61);
}

.static-three {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background: radial-gradient(circle, white 0%, #c7c7c7 100%);
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.61);
}

.static-three > div {
  padding-bottom: 10%;
  text-align: center;
}

.tucked {
  overflow-y: hidden;
}

.linebreakimagenew {
  background-color: black;
  background: url(https://raw.githubusercontent.com/Zavvitar/Lux.github.io/master//img/Raid/line.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.static-four {
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  margin: 0 auto;
  width: 100%;
  height: 90px;
}

.static-five {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 5px;
  color: #cfcfcf;
  font-weight: normal;
  font-size: 15px;
  text-align: right;
  padding-right: 10px;
  text-transform: none;
}

.parallax::after {
  /* Position the pseudo-element to fill the parent */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Scale the image to full */
  background-size: cover;
  /* Move the element back then scale the element, it helps to appears more slowly */
  -webkit-transform: translateZ(-1px) scale(1.7);
          transform: translateZ(-1px) scale(1.7);
  /* Set the parallax section before the other elements. */
  z-index: -1;
}

/* Different background images */
.parallax-one::after {
  background-image: url(https://raw.githubusercontent.com/Zavvitar/TENET/master/img/Bckgrnd/Europa.jpg);
  background-size: fit;
}

.parallax-two::after {
  background-image: url(https://raw.githubusercontent.com/Zavvitar/TENET/master/img/Bckgrnd/nessus.jpg);
}

.topNav {
  display: none;
}

input[type=text] {
  width: 200px;
}

textarea {
  font-family: "Mukta", sans-serif;
  height: 30px;
  width: 200px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

textarea:focus {
  width: 70%;
  height: 50px;
}

@media only screen and (max-width: 780px) {
  iframe {
    max-width: 400px;
    max-height: 225px;
  }
  .boxthings7 {
    grid: none;
  }
  .landingwords {
    font-size: 30px;
  }
  .static-three > div {
    padding-bottom: 0;
  }
  nav ul li a.active {
    padding-top: 0;
  }
  html {
    background: none;
    background-color: #dadada;
  }
  .boxthings4 {
    grid: none;
    padding-top: 2%;
  }
  .boxthings11 {
    padding-top: 0;
  }
  .foot {
    display: none;
  }
  .memberspadding {
    height: 500px;
  }
  .boxthings12 {
    -ms-grid-rows: 0.5fr 0.6fr;
        grid-template-rows: 0.5fr 0.6fr;
  }
  .formboxthing {
    height: 10px;
  }
  .card-header2 {
    padding-top: 0;
    padding-bottom: 3px;
    padding-right: 0;
  }
  .card-text2 {
    padding-top: 0;
  }
  .boxthings {
    background-color: #dadada;
    max-height: 200%;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
  .boxthings9 {
    display: none;
    max-height: none;
    padding-top: 3%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .boxthings90 {
    height: auto;
    display: -ms-grid;
    display: grid;
    max-height: none;
    padding-top: 3%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .boxthings8 {
    height: 400px;
    max-height: none;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .boxthings12 {
    font-size: 15px;
  }
  .onlinemembers {
    font-size: 15px;
  }
  .card-header {
    height: 70px;
    padding-top: 5%;
    padding-bottom: 0;
    font-size: 30px;
  }
  .card-header2 {
    font-size: 30px;
  }
  .card-header4 {
    padding-bottom: 0;
    font-size: 30px;
  }
  .card-header8 {
    font-size: 30px;
  }
  .card-headerinv {
    font-size: 20px;
  }
  .card-text {
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
  }
  .banner {
    max-width: 600px;
  }
  .head {
    max-width: 600px;
  }
  .boxthings {
    height: auto;
    max-width: 600px;
  }
  .foot {
    max-width: 600px;
  }
  .head {
    display: none;
  }
  .logoImg {
    float: left;
    background: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-right: 20px;
  }
  .logoImg:hover {
    -webkit-transform: none;
            transform: none;
  }
  .topNav {
    background-color: #0f0f0f;
    width: 100%;
    overflow: hidden;
  }
  .BurgerBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
  }
  .nav-ul {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    list-style-type: none;
  }
  .nav-ul li a {
    display: inline-block;
    color: #303030;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
    font-size: 15px;
  }
  .nav-ul a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #b1b1b1;
    box-shadow: none;
  }
  .hamburger {
    background-color: transparent;
    border: 0;
    color: #303030;
    cursor: pointer;
    font-size: 30px;
    display: none;
    padding-right: 30px;
  }
  .hamburger:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .nav-ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.4);
  }
  .topNav {
    display: contents;
  }
  .nav-ul li a {
    margin-top: 20px;
    display: inline-block;
    color: #303030;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 23px;
  }
  .hamburger {
    display: block;
  }
  .BurgerBackground {
    background-color: #cbcbcb;
  }
}
/*# sourceMappingURL=custom.css.map */